div.footer
	h3.company-name
		span (주) 티비에스
		span.divider /
		span TBS Inc.
	span.classify 사무실 :
	span 경기도 안양시 동안구 학의로 268 5층 501호 (관양동, 메가밸리)
	span.divider /
	span.classify 공장 :
	span 경기도 군포시 공단로 284 한림벤처타운 502호

	br

	span.classify TEL :
	span 031-420-8060
	span.divider /
	span.classify FAX :
	span 031-420-8061

	br

	span.classify E-Mail :
	span hyhan1459@hanmail.net
	span.divider /
	span kjhee-3@hanmail.net


