div.footer
	h3.company-name
		span (주) 티비에스
		span.divider /
		span TBS Inc.,
	span.classify 사무실 :
	span 경기도 안양시 동안구 엘에스로 92 국제유통단지 27동 103호
	span.divider /
	span.classify 공장 :
	span 경기도 군포시 공단로 284 한림벤처타운 502호

	br

	span.classify TEL :
	span 031-447-7567 ~ 8
	span.divider /
	span.classify FAX :
	span 031-447-7569

