doctype html
html
	head
		meta(charset="UTF-8")
		block title
			title Megadyne Korea
		block links
	body
		include ../includes/header.jade
		block body
		include ../includes/footer.jade
		block scripts
