mixin stylesheet(url)
	link(type="text/css", rel="stylesheet", href=url)

mixin script(url)
	script(src=url)

mixin banner(imgSrc)
	div.banner
		img.boxShadow(src=imgSrc)

mixin article(title)
	div.article
		h1.title= title
		block

doctype html
html
	head
		base(href="/")
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="format-detection", content="telephone=no")
		meta(name="title", content="(주)티비에스")
		meta(name="subject" content="Megadyne Korea")
		meta(name="keyword" content"티비에스,TBS,메가다인,메가다인 한국,Megadyne,Megadyne Korea")
		block title
			title Megadyne Korea
		+stylesheet("/stylesheets/layout.css")
		block links
	body
		include ../includes/header.jade
		div.main
			block body
		include ../includes/footer.jade

		block scripts

