mixin stylesheet(url)
	link(type="text/css", rel="stylesheet", href=url)

mixin script(url)
	script(src=url)

doctype html
html
	head
		base(href="/")
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		block title
			title Megadyne Korea
		+stylesheet("http://fonts.googleapis.com/css?family=Noto+Sans:400?subset=latin,korean")
		+stylesheet("/stylesheets/layout.css")
		block links
	body
		include ../includes/header.jade
		div.main
			block body
		include ../includes/footer.jade

		block scripts

