extends ./layouts/main.jade

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		div.banner
			img.box-shadow(src="/images/about/header.jpg")

		div.article
			h1.title MEGADYNE 소개
			p.text MEGADYNE은 유럽과 북미, 아시아 등지에 생산공장을 보유하고 있는 부품 제조사이자 글로벌 유통업체 입니다. 다양한 산업군에서 요구하는 특수한 제품들을 폭넓게 제공하기 위해 끊임없이 제조와 개발을 하고 있습니다.

		table.thumbnail-box
			tr
				td.label
					img(src="/images/about/history-icon.png")
					span 역사
				td.label
					img(src="/images/about/philosophy-icon.png")
					span 철학
				td.label
					img(src="/images/about/mission-icon.png")
					span 가치
			tr
				td.thumbnail
					a.box-shadow(href="http://www.megadynegroup.com/en/content/history", target="_blank")
						img(src="/images/about/history.jpg")
				td.thumbnail
					a.box-shadow(href="http://www.megadynegroup.com/en/content/philosophy", target="_blank")
						img(src="/images/about/philosophy.jpg")
				td.thumbnail
					a.box-shadow(href="http://www.megadynegroup.com/en/content/mission", target="_blank")
						img(src="/images/about/mission.png")

block scripts

