extends ./layouts/main.jade

block title
	title Megadyne Korea

block links
	+stylesheet("/stylesheets/error.css")

block body
	div.error
		div
			img(src="/images/megadyne_large.png")
			h1 We'll be back.
