extends ./layouts/main.jade

block title
	title Error | Megadyne Korea

block links
	+stylesheet("/stylesheets/error.css")

block body
	div.error
		div
			img(src="/images/top-logo.png")
			h1 Page Not Found
