extends ./layouts/main.jade

mixin LibImage(imgSrc, link)
	td.image
		a(href=link)
			img.boxShadow.border(src=imgSrc)

mixin LibLabel(icon, label, link)
	td.label.withIcon
		a.subtitle(href=link)
			img(src="/images/" + icon)
			span= label

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		+banner("/images/header.jpg")

		+article()
			h2.subtitle (주)티비에스 소개
			p.text 안녕하십니까?
			p.text ㈜티비에스는 산업용벨트, 특수벨트, 벨트원단 등을 수입, 가공, 제작, 판매하는 전문 기업입니다.
			p.text 이탈리아의 세계적인 벨트생산업체 MEGADYNE의 지정업체로 우수한 기술력과 다양한 제품구성으로 모든 종류의 제품이송에 최적의 구동력을 유지하는 고기능산업용 벨트를 생산, 공급합니다.
			p.text 끊임없는 노력을 바탕으로 최고의 품질과 서비스를 제공하겠습니다.
			p.text 감사합니다.
			p.text(style="text-align: right;") (주)티비에스 직원 일동

		+article()
			h2.subtitle 찾아오는길
			div#daumRoughmapContainer1517754529879.root_daum_roughmap.root_daum_roughmap_landing(style="margin: 10px 0;")
		
		table.labelImageBox.threeRows
			tr
				+LibLabel("philosophy-icon.png", "MEGADYNE 소개", "/about")
				+LibLabel("pulley-icon.png", "MEGADYNE 제품", "/products")
				+LibLabel("mission-icon.png", "카탈로그", "/catalogs")
			tr
				+LibImage("/images/about.jpg", "/about")
				+LibImage("/images/products.jpg", "/products")
				+LibImage("/images/catalogs.jpg", "/catalogs")
	
	script.daum_roughmap_loader_script(src="http://dmaps.daum.net/map_js_init/roughmapLoader.js")
	+script("/daum-map.js")


