extends ./layouts/main.jade

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		div.banner
			img.box-shadow(src="/images/products/header.jpg")

		div.article
			h1.title 제품군
			p.text MEGADYNE은 여러 가지 표준 제품을 두루 갖고 있으면서 동시에 더욱 다양한 산업군의 요구사항을 충족할 수 있도록 특수 설계된 제품들도 폭넓게 제공합니다. 대표적으로 열 경화성 및 열 가소성 폴리우레탄 벨트, 고무 타이밍 벨트, V 벨트, 클램핑 플레이트, 타이밍바를 생산하고 있으며, 모든 제품은 요구사항에 맞게 맞춤제작이 가능합니다.

		table.thumbnail-box
			tr
				td.label
					img(src="/images/about/history-icon.png")
					span 역사
				td.label
					img(src="/images/about/philosophy-icon.png")
					span 철학
				td.label
					img(src="/images/about/mission-icon.png")
					span 가치
			tr
				td.thumbnail
					a.box-shadow(href="http://www.megadynegroup.com/en/content/history", target="_blank")
						img(src="/images/about/history.jpg")
				td.thumbnail
					a.box-shadow(href="http://www.megadynegroup.com/en/content/philosophy", target="_blank")
						img(src="/images/about/philosophy.jpg")
				td.thumbnail
					a.box-shadow(href="http://www.megadynegroup.com/en/content/mission", target="_blank")
						img(src="/images/about/mission.png")

block scripts

