extends ../../layouts/main.jade

mixin LibImage(imgSrc)
	td.image
		img.boxShadow.border(src = "/images/products/rubber/v-belts/" + imgSrc)

mixin LibLabel(text)
	td.label
		span.text= text

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		+banner("/images/products/other/accu-link/header.jpg")

		+article("ACCU-LINK")
			p.text ACCU-LINK 벨트는 V-벨트에 예상치 못한 문제가 발생했을 경우 사용되는 비상 벨트로 설계되었으나, 현재는 이외의 다양한 분야에서 사용되고 있습니다.

		+article()
			div.textImageBar
				table
					td.image.left
						img.boxShadow.border(src="/images/products/other/accu-link/component.jpg")
					td.textBox
						div.label
							span 구성요소
						div.text
							span 우레탄 엘라스토머로 구성되어 있으며, 매우 튼튼하게 짜여진 폴리에스테르 직물로 보강됩니다. ACCU-LINK 벨트는 혁신적인 공정으로 제조되어 부드럽게 움직이며서 각 링크 간 한 치의 오차도 없을 정도로 정밀하게 만들어집니다. 이 덕분에 진동이 적으며 작은 장력만으로 동작하기 때문에 벨트 수명이 길어집니다.

		+article()
			h2.subtitle 기계 - 화학적 성질 
			p.text ACCU-LINK 벨트의 주요 장점은 다음과 같습니다:
			ul
				li 링크 수를 변경하여 길이를 조정할 수 있기 때문에 굉장히 유연합니다
				li 정렬 불량을 줄여줍니다
				li 설치가 쉽습니다 (풀리를 분해할 필요가 없습니다)

		+article()
			h2.subtitle ACCU-LINK 응용분야 
			div.text
				span ACCU-LINK 벨트는 링크끼리 매우 튼튼하게 결합되면서 결합이 연속적이며, 고무 벨트를 사용할 때와 같은 힘으로 동작하고 있는 장비에 쉽고 빠르게 결합될 수 있습니다. V-벨트의 일시적인 대체품으로는 물론 완전히 대체도 가능한 이상적인 벨트 입니다.
				br
				span ACCU-LINK 벨트에 사용된 우레탄은 대부분의 공업용 용매와 화학약품, 기름, 물과 온도에 저항을 갖습니다. 특히 MEGADYNE의 다른 벨트들보다 높은 온도( +4℃ / +116℃ )에서도 동작합니다. 또한 ACCU-LINK 벨트는 열기를 분산시킬 수 있기 때문에 일반적인 벨트보다 쿨러 가동에 유리합니다.
				br
				span 주로 거친 환경에 적합합니다:
				ul
					li 금속 가공
					li 공작 기계
					li 농업
					li 포장
					li 석탄
					li 골재
					li 펄프 및 종이
					li 목재
					li 해양
					li 공기 이동
					li 석유 화학
					li 목공
					li 컨베이어 및 식품 산업

				br
				span 이처럼 다양한 환경에서 운영 가능합니다.

		+article()
			h2.subtitle 제품 범위
			div.text
				span ACCU-LINK 벨트는 Z / 3L, A / 4L, B / 5L, C 섹션으로 구분됩니다. 모든 섹션은 같은 규격의 V-벨트가 맞물리는 표준 풀리에 사용할 수 있습니다. 
				br
				span 어떤 드라이브 환경에도 맞물릴 수 있도록 ACCU-LINK 벨트는 가장 널리 쓰이는 규격으로 설계되었습니다:
				br
				span 25피트(feet)와 100피트(feet) 길이의 Z/3L, A/4L, B/5L, C 섹션
				br
				span 드라이 캔 공정을 위한 CC 섹션도 제공합니다. 보다 짧은 슬리브 길이로도 판매합니다.
				br
				span ACCU-LINK 벨트를 이용하여 V-벨트의 문제를 빠르고 정확하게, 그리고 영구적으로 해결하세요.

