extends ../../layouts/main.jade

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		+article("컨베이어 벨트")
			+banner("/images/products/other/conveyor/header.jpg")

