extends ../../layouts/main.jade

mixin LibImage(imgSrc)
	td.image
		img.boxShadow.border(src = "/images/products/rubber/v-belts/" + imgSrc)

mixin LibLabel(text)
	td.label
		span.text= text

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		+banner("/images/products/other/megaweld/header.jpg")

		+article("MEGAWELD")
			p.text MEGAWELD는 용접 가능한 벨트입니다. MEGADYNE에서는 다양한 종류의 MEGAWELD 벨트를 제공하고 있습니다.

