extends ../../layouts/main.jade

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		div.banner
			img.boxShadow(src="/images/products/other/megablue/header.jpg")

		+article("MEGABLUE")
			.text
				span MegaBlue is Megadyne’s product, specifically created to give a good alternative to the classical plastic modular belt for the food processing industry. This product, with its smooth surface, guarantees superior hygiene levels and, at the same time, works like a positive drive modular plastic belt. Thanks to the tooth shape and pitch, MegaBlue works with the same sprockets of modular plastic belts and is a good alternative where an extreme cleanability is needed. This belt helps saving water and time usually dedicated to the cleansing of a classical modular plastic belt.
				br
				span All MegaBlue product line is FDA/USDA/USDA Dairy Approved. It’s the ideal combination of the benefits of a classical smooth conveyor with the mechanical and chemical advantages of a plastic modular belt.

		+article()
			h2.subtitle Main Features
			p.text Suitable to replace most of the 1” and 2” plastic modular belts
			ul
				li Available with Kevlar® tension member where the application requires high tensile strength and low elongation
				li Blue FDA approved Polyurethane water and chemical resistant
				li Perfectly sealed edges to avoid the contact of external agents with Kevlar® cords in case they are present  (for MB10 K)
				li Flat and smooth back surface to help the clean-in-place process and to avoid bacteria deposit
				li FDA / USDA approved for humid food contact and transportation (meat and poultry)
		
		+article()
			h2.subtitle Elongation
			img(src="/images/products/other/megablue/elongation-graph.jpg")
				
		+article()
			h2.subtitle MEGABLUE 응용분야
			p.text Megadyne’s MegaBlue product line was conceived keeping in mind the specific requirements of the food processing industry in a wide variety of sectors such as but not limited to:
			ul
				li BAKERY
				li MEAT,POULTRY AND SEAFOOD
				li BEVERAGE
				li FRUIT AND VEGETABLE

			div.horizontalList.fourRows
				img(src="/images/products/other/megablue/application01.jpg")
				img(src="/images/products/other/megablue/application02.jpg")
				img(src="/images/products/other/megablue/application03.jpg")
				img(src="/images/products/other/megablue/application04.jpg")
			img(src="/images/products/other/megablue/application.jpg")
		
		
		+article()
			h2.subtitle FASTENING OPTIONS

			div.textImageBar
				table
					td.image.left
						img.boxShadow(src="/images/products/other/megablue/joint.jpg")
					td.textBox
						div.label
							span Finger joint factory welding
						div.text
							span The belt will be supplied already spliced, this means the customer has to be able to dismantle the machinery to mount the belt.
							br
							span Note: This is the safest method to supply the belt in terms of its cleanability, the homogenuity of the surface and resistance to aggressive bacteria. The finger spliced belt looks exactly like an endless belt.

			div.textImageBar
				table
					td.textBox
						div.label
							span Finger joint factory welding
						div.text
							span The Plastic rivet joint is ideal in those application where the belt needs to be constantly assembled and disassembled to be cleaned and rinsed. The rivet’s FDA-approved material guarantees maximum safety when in contact with the food.
							br
							span The belt will be supplied with  FDA approved material Blue plastic rivets or stainless steel staples already mounted on the edges. Once the belt has been placed  on the machine, the customer will join the edges using the appropriate hinge that is provided with the belt. 
					td.image.right
						img.boxShadow(src="/images/products/other/megablue/rivet.jpg")
			
			table.labelImageBox.twoRows
				tr
					td.image
						.boxShadow
							img(src="/images/products/other/megablue/rivet01.jpg")
					td.image
						.boxShadow
							img(src="/images/products/other/megablue/rivet02.jpg")
				tr
					td.label.large
						span.text Plastic
					td.label.large
						span.text Stainless Steel

		+article()
			h2.subtitle PLASTIC RIVETS SPLICING PROCEDURE
			ol
				li Place the belt on the conveyor
				li Match the edges until the grooves are aligned.
				li Insert the hinge material
				li Provide a 90° bend to the free edges of the hinge material while applying a little heat at the bend point with a lighter.


