extends ../../layouts/main.jade

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		div.banner
			img.boxShadow(src="/images/products/pulley/clamping-plates/header.jpg")

		+article("클램핑 플레이트")

		+article()
			div.textImageBar
				table
					td.textBox
						div.text
							span Clamping Plates are used to clamp timing belts ends.
					td.image.right
						img.boxShadow.border(src="/images/products/pulley/clamping-plates/info.jpg")


