extends ../../layouts/main.jade

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		+banner("/images/products/pulley/flanges/header.jpg")

		+article("플랜지")

		+article()
			div.textImageBar
				table
					td.textBox
						div.text
							span 타이밍 풀리를 위한 알루미늄과 강철 플랜지 입니다.
							br
							span 사용자 맞춤형과 표준 플랜지 모두 주문 가능합니다.
							br
							span MEGADYNE의 고품질 플랜지는 다음과 같은 경우에 적합합니다.
							ul
								li 특수한 작업을 위해 설계된 풀리
								li 빠르고 저렴한 프로토타입
								li 특수한 재질이나 성능에 대응해야 하는 경우
					td.image.right
						img.boxShadow.border(src="/images/products/pulley/flanges/info.jpg")


