extends ../../layouts/main.jade

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		+banner("images/products/pulley/pulleys/header.jpg")

		+article("풀리")

		+article()
			div.textImageBar
				table
					td.textBox
						div.text
							p MEGADYNE은 드라이브 시스템에 필요한 모든 제품을 제공하고 있습니다. MEGADYNE에서는 다양한 산업에서 사용되는 표준 풀리와 함께 사용자가 직접 설계한 풀리도 제작하고 있습니다.
					td.image.right
						img.boxShadow.border(src="/images/products/pulley/pulleys/info.jpg")


