extends ../../layouts/main.jade

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		div.banner
			img.boxShadow(src="/images/products/pulley/pulleys/header.jpg")

		+article("풀리")

		+article()
			div.textImageBar
				table
					td.textBox
						div.text
							p Megadyne group can supply a complete drive system. A large range of standard and custom made pulleys are available, for many kinds of industrial applications.
					td.image.right
						img.boxShadow.border(src="/images/products/pulley/pulleys/info.jpg")


