extends ../../layouts/main.jade

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		+banner("/images/products/pulley/timing-bars/header.jpg")

		+article("타이밍 바")

		+article()
			div.textImageBar
				table
					td.textBox
						div.text
							p 타이밍 바는 톱니가 달린 강철 / 알루미늄 실린더 입니다. MEGADYNE에서는 표준 타이밍바는 물론 사용자가 직접 설계한 타이밍바도 제작하고 있습니다.
					td.image.right
						img.boxShadow.border(src="/images/products/pulley/timing-bars/info.jpg")


