body > .main
	position: static

.error
	display: inline-block
	position: absolute
	width: 600px
	height: 450px
	left: 50%
	margin-left: -300px
	top: 50%
	margin-top: -225px
	text-align: center
	background: url("/images/notes.jpg") center no-repeat
	background-size: 100% 100% 

	div
		transform: rotate(-5deg)
		img
			display: inline-block
			width: 250px
			padding-top: 150px
			padding-bottom: 10px
		h1
			font-size: 2em
			line-height: 2em
