numOfBanners = 5
bannerHeight = 300
buttonWidth = 21
buttonHeight = 53

body > article > .bannerContainer
	position: relative

	.positioner
		display: block
		position: relative
		width: 100%
		height: (bannerHeight) px
		overflow: hidden

	.banner
		position: absolute
		left: (-100 * floor(numOfBanners / 2)) %
		width: (100 * numOfBanners) %
		height: 100%

		.content
			display: block
			position: absolute
			width: (100 / numOfBanners) %
			height: 100%
			> img
				width: 100%
				height: 100%
		for idx in range(1, numOfBanners)
			.content:nth-of-type({idx})
				left: ((100 / numOfBanners) * idx) %
	.banner.moveLeft,
	.banner.moveRight
		animation-duration: 0.4s
		animation-timing-function: ease-in-out
		animation-fill-mode: forwards
	.banner.moveLeft
		animation-name: moveLeft
	.banner.moveRight
		animation-name: moveRight

	.bannerCtrl
		position: absolute
		width: 1060px
		left: -30px
		top: (bannerHeight / 2) px
		margin-top: -26.5px

		a
			display: block
			position: absolute
			width: (buttonWidth) px
			height: (buttonHeight) px
		.toLeft
			background: url("/images/arrow-left.png") no-repeat
		.toRight
			right: 0px
			background: url("/images/arrow-right.png") no-repeat

@keyframes moveLeft {
	from { transform: translateX(0); }
	to { transform: translateX((100 / numOfBanners) %); }
}

@keyframes moveRight {
	from { transform: translateX(0); }
	to { transform: translateX(-(100 / numOfBanners) %); }
}
