// Variables
//=================================================
bodyWidth = 1000
headerHeight = 70
footerHeight = 80
menuHeight = 30

headerBorderColor = #e40002
headerMenuColor = #da0000

global-reset()

@font-face
	font-family: "Noto Sans"
	font-weight: 300
	src: local("Noto Sans Light"),
		local("Noto Sans Light"),
		local("Noto Sans Light")
	src: url("/fonts/NotoSans-Light.eot")
	src: url("/fonts/NotoSans-Light.eot?#iefix") format("embedded-opentype"),
		url("/fonts/NotoSans-Light.woff") format("woff"),
		url("/fonts/NotoSans-Light.ttf") format("truetype")

@font-face
	font-family: "Noto Sans"
	font-weight: 400
	src: local("Noto Sans Regular"),
		local("Noto Sans Regular"),
		local("Noto Sans Regular")
	src: url("/fonts/NotoSans-Regular.eot")
	src: url("/fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"),
		url("/fonts/NotoSans-Regular.woff") format("woff"),
		url("/fonts/NotoSans-Regular.ttf") format("truetype")

html
	position: relative
	height: 100%
	min-height: 600px
	font-family: "Noto Sans", sans-serif

body
	position: relative
	min-width: (bodyWidth)px
	min-height: 100%

// Header
//=================================================
body > .header
	height: (headerHeight) px
	border-bottom: 4px solid (headerBorderColor)

	> .nav
		position: relative
		width: (bodyWidth) px
		height: 100%
		margin: 0 auto

		.logo
			float: left
			height: 100%
			> img
				width: auto
				height: 100%
				padding: 0 15px
		> ul
			position: absolute
			height: (menuHeight) px
			top: 50%
			margin-top: -(menuHeight / 2) px
			right: 0
			text-align: justify

		> ul > li
			position: relative
			display: inline-block
			height: 100%
			padding: 0 10px

			*
				padding: 0 10px

			.menu:before
				content: ""
				display: inline-block
				height: 100%
				vertical-align: middle
			.menu
				display: inline-block
				height: 100%
				color: #333
				font-size: 1em
				text-decoration: none
				transition: color .2s ease-in-out
			.menu:hover
				color: (headerMenuColor)
			.menu.on
				color: (headerMenuColor)
				border-bottom: 2px solid (headerMenuColor)

		> ul:after
			content: ""
			display: inline-block
			width: 100%
			font-size: 0

// Main
//=================================================
body > .main
	position: relative
	padding-bottom: (footerHeight + 40) px

// Footer
//=================================================
body > .footer
	position: absolute
	box-sizing: border-box
	width: (bodyWidth) px
	height: (footerHeight) px
	left: 50%
	bottom: 0px
	margin-left: -(bodyWidth / 2) px
	padding: 10px
	font-size: 12px
	text-align: center
	letter-spacing: .7px
	color: #999
	border-top: 1px solid #bbb

	*
		line-height: 1.4em

	.company-name,
	.classify
		color: #333

	.classify
		padding: 0 13px 0 0

	.divider
		color: #da0000
		padding: 0 15px
		font-size: 1em
