// Variables
//=================================================
numOfSlides = 4
sliderHeight = 300
sliderButtonWidth = 21
sliderButtonHeight = 53

body > .main
	.container
		position: relative

	.box-shadow
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

// Banner
//=================================================
	.banner
		width: 100%
		padding: 0 0 15px 0
		img
			width: 100%

// Article
//=================================================
	.article
		padding: 15px 100px
		.title
			font-size: 2em
			text-align: center
			color: #e50005
			line-height: 2em
		.text
			color: #333
			font-size: 1em
			line-height: 2em
			text-align: justify

// Thumbnail Box
//=================================================
	.thumbnail-box
		position: relative
		width: 100%
		padding: 15px 0

		.label,
		.thumbnail
			width: (100 / 3) %
			padding: 10px

		.label
			height: 40px;
			font-size: 1.3em
			color: #e50005
			img
				padding-right: 7px
				vertical-align: middle
				height: 100%

		.thumbnail
			a
				display: block
				box-sizing: border-box
			img
				width: 100%

// Thumbnail Bar
//=================================================
	.thumbnail-bar
		display: block
		position: relative
		margin: 15px 50px
		padding: 15px 50px
		text-decoration: none
		border: 1px solid #ddd

		.label
			height: 40px
			padding: 0 0 15px 0
			font-size: 1.3em
			color: #e50005
			img
				padding-right: 7px
				vertical-align: middle
				height: 100%
		.text
			width: 470px
			color: #333
			font-size: 1em
			line-height: 1.8em
			text-align: justify

		.thumbnail
			padding: 10px 0 10px 30px


// Slider
//=================================================
	.sliderContainer
		position: relative
		padding: 0 0 20px 0

		.positioner
			display: block
			position: relative
			width: 100%
			height: (sliderHeight) px
			overflow: hidden

		.slider
			position: absolute
			left: (-100 * floor(numOfSlides / 2)) %
			width: (100 * numOfSlides) %
			height: 100%

			.content
				display: block
				position: absolute
				width: (100 / numOfSlides) %
				height: 100%
				> img
					width: 100%
					height: 100%
			for idx in range(1, numOfSlides)
				.content:nth-of-type({idx})
					left: ((100 / numOfSlides) * (idx - 1)) %

		.slider.ie8
			left: 0

		.slider.moveLeft,
		.slider.moveRight
			animation-duration: 0.4s
			animation-timing-function: ease-in-out
			animation-fill-mode: forwards
		.slider.moveLeft
			animation-name: moveLeft
		.slider.moveRight
			animation-name: moveRight

		.sliderCtrl
			position: absolute
			width: 1060px
			left: -30px
			top: (sliderHeight / 2) px
			margin-top: -(sliderButtonHeight / 2) px

			a
				display: block
				position: absolute
				width: (sliderButtonWidth) px
				height: (sliderButtonHeight) px
			.toLeft
				background: url("/images/arrow-left.png") no-repeat
			.toRight
				right: 0px
				background: url("/images/arrow-right.png") no-repeat


// Slider Animation
//=================================================
@keyframes moveLeft {
	from { transform: translateX(0); }
	to { transform: translateX((100 / numOfSlides) %); }
}

@keyframes moveRight {
	from { transform: translateX(0); }
	to { transform: translateX(-(100 / numOfSlides) %); }
}

