extends ../../layouts/main.jade

mixin LibImage(imgSrc)
	td.image
		img.border(src = "/images/products/polyurethane/megaflex/" + imgSrc)

mixin LibLabel(text)
	td.label
		span.text= text

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		+banner("/images/products/polyurethane/megaflex/header.jpg")

		+article("MEGAFLEX")
			p.text
				span MEGAFLEX 타이밍 벨트는 열 가소성 폴리우레탄에 강철심을 보강해서 만들어집니다. MEGADYNE의 연구개발에 의해 탄생된 MEGAFLEX 벨트는 우수한 주행특성 및 높은 견인하중을 갖고 있습니다. 이러한 특성 덕분에 매우 높은 속도(10,000 RPM 까지)에서도 안정적으로 동력을 전달할 수 있습니다.  
				br
				span 톱니와 벨트 뒷면에 추가적인 코팅이 가능합니다. 톱니에 나일론 코팅을 하면 소음이 줄어들고, 더 낮은 마찰계수를 갖게 되어 주행성능이 향상됩니다. 마찰에 의한 손상이 걱정되거나 무거운 제품 운반 등이 필요한 경우에는 벨트 뒷면에 특수 코팅을 적용할 수 있습니다.
				br
				span MEGAFLEX 타이밍 벨트의 피치는 최소 1.500㎜ 부터 최대 22.700㎜ 사이에서 선택 가능합니다.

		+article()
			div.textImageBar
				table
					td.image.left
						img.boxShadow.border(src="/images/products/polyurethane/megaflex/component.jpg")
					td.textBox
						div.label
							span 구성요소
						ol
							li MEGAFLEX는 92 ShA(쇼어경도 타입 A)의 단단함을 가지는 흰색 열 가소성 폴리우레탄으로 구성됩니다. 높은 경도 덕분에 때문에 큰 충격이나 파동이 발생하는 상황에서도 강력한 내마모성을 갖고 있습니다.
							li 고강도의 아연도금 강철 코드(cord)는 높은 파괴 하중과 극도로 적은 신장률을 갖고 있습니다.

			div.text
				p 이러한 고품질의 재료와 이들의 조합은 벨트의 성능을 향상시켜줍니다:
				ul
					li 마모나 톱니 전단이 매우 적음
					li 낮은 마찰계수
					li 높은 유연성
					li 오존에 잘 견디며 내열성이 우수 ( -25 ℃ / +80 ℃ )
					li 석유와 그리스(grease, 윤활유), 가솔린에 변하지 않음

		+article()
			h2.subtitle 기계 - 화학적 성질 
			ul
				li 균일한 치수
				li 적은 소음
				li 유지보수의 편리함
				li 높은 유연성
				li 적절한 유연성과 신장성으로 높은 마찰력을 갖고 있는 강철 보강심
				li 최대 선속도 70m/s
				li 낮은 텐션
				li 균일한 길이
				li 높은 내마모성
				li 노화와 가수분해, 오존에 내성
				li 작동 온도 -25 ℃ / +80 ℃
				li 석유와 그리스(grease, 윤활유), 가솔린에 변하지 않음
				li 산성과 알칼리성에 내성
 
		+article()
			h2.subtitle MEGAFLEX 응용분야
			p.text 우수한 특성 덕분에 MEGAFLEX 벨트는 다음과 같이 많은 분야에서 성공적으로 사용됩니다:
			ul
				li 높은 동력 전송(High Power Transmission)
				li 세라믹 산업
				li 대리석 및 석재 산업
				li 유리 산업
				li 무거운 물건의 전송
				li 목재 산업
				li 식품 산업

		h1.subtitle.center.paddingVertical Section types
		table.labelImageBox.fiveRows
			tr
				+LibImage("x l h.jpg")
				+LibImage("x l h-dl.jpg")
				+LibImage("t.jpg")
				+LibImage("t-dl.jpg")
				+LibImage("at.jpg")
			tr
				+LibLabel("X / L / H")
				+LibLabel("X / L / H - DL")
				+LibLabel("T")
				+LibLabel("T - DL")
				+LibLabel("AT")

		table.labelImageBox.fiveRows
			tr
				+LibImage("at-dl.jpg")
				+LibImage("mtd8.jpg")
				+LibImage("rpp.jpg")
				+LibImage("rpp-dl.jpg")
				+LibImage("atg10.jpg")
			tr
				+LibLabel("AT - DL")
				+LibLabel("MTD8")
				+LibLabel("RPP")
				+LibLabel("RPP - DL")
				+LibLabel("ATG10")

		table.labelImageBox.fiveRows
			tr
				+LibImage("p2.jpg")
			tr
				+LibLabel("P2")
				+LibLabel()
				+LibLabel()
				+LibLabel()
				+LibLabel()

