extends ../../layouts/main.jade

mixin LibImage(imgSrc)
	td.image
		img.border(src = "/images/products/polyurethane/megarib/" + imgSrc)

mixin LibLabel(text)
	td.label
		span.text= text

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		+banner("/images/products/polyurethane/megarib/header.jpg")

		+article("MEGAPOWER")
			p.text
				span MEGARIB은 폴리에스테르 보강재를 사용한 폴리우레탄 벨트입니다.
				br
				span 폴리에스테르 보강재 덕분에 평벨트(flat belt)의 유연함과 V 벨트의 동력 전달능력을 고루 갖추고 있습니다.

		+article()
			div.textImageBar
				table
					td.image.left
						img.boxShadow.border(src="/images/products/polyurethane/megarib/component.jpg")
					td.textBox
						div.label
							span 구성요소
						ol
							li MEGARIB은 85 ± 5 ShA(쇼어강도 타입 A)의 단단함을 가진 열 가소성 폴리우레탄으로 구성됩니다.
							li 인장 재료로 고강도 저신축성 폴리에스테르를 사용하여 길이 안정성을 보장합니다.

		+article()
			h2.subtitle 기계 - 화학적 성질 
			ul
				li 벨트 폭 어디에든 고르게 분포되는 하중
				li 컴팩트하면서 원활한 주행이 가능한 저진동 드라이브 시스템
				li 풀리 직경이 작을 경우 내부 또는 외부 아이들러(idler)와 함께 사용할 수 있습니다
				li 최대 선속도 60m/s
				li 높은 변속비
				li 드라이브 비용을 감소시키기 위해 평벨트 풀리(flat pulley)와 함께 사용될 수 있습니다

			div.text 서펜틴(serpentine)이나 트위스트 드라이브 같이 구성이 어려운 경우에도 MEGADYNE PV 벨트의 높은 유연성 덕분에 설계가 가능합니다.
 
		+article()
			h2.subtitle MEGARIB 응용분야
			ul
				li 가전 제품
				li 잔디 및 정원
				li 전동 공구
				li 목공 장비

		h2.subtitle.center.paddingVertical Section types
		table.labelImageBox.fiveRows
			tr
				+LibImage("h.jpg")
				+LibImage("j.jpg")
				+LibImage("tb2.jpg")
			tr
				+LibLabel("H")
				+LibLabel("J")
				+LibLabel("TB2")

