extends ../../layouts/main.jade

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		+banner("/images/products/special/cleats/header.jpg")

		+article("고마찰")
			div.textImageBar
				table
					td.textBox
						div.label
							span 적용 분야
						div.text
							ul
								li 담배 산업
								li 포장 산업
								li 물고기 산업

					td.image.right
						img.boxShadow.border(src="/images/products/special/cleats/info.jpg")

