extends ../../layouts/main.jade

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		+banner("/images/products/special/cleats/header.jpg")

		+article("고마찰")
			p.text The cleats inserted in the belt are made from highly resistant polyurethane and welded evenly. If needed any kind of cleat , please contact our staff , we can realize any type of drowing. Ask to our OEM team for find your solution.

		+article()
			div.textImageBar
				table
					td.textBox
						div.label
							span 적용 분야
						div.text
							ol
								li
									span Tobacco industry
									br
									span Belt with special cleats for tobacco industry.
								
								li
									span Packaging industry
									br
									span Special reworking to install custom made elements.
								li
									span Fish industry
									br
									span High variety of cleats allow Megalinear belts to work in several fields.

					td.image.right
						img.boxShadow.border(src="/images/products/special/cleats/info.jpg")

