extends ../../layouts/main.jade

mixin coverProperty(name, imgName)
	div.textImageBar.smallImage
		table
			td.image.left
				img.boxShadow.border(src="/images/products/special/cover-properties/" + imgName)
			td.textBox
				div.label
					span= name
				block

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		+banner("images/products/special/cover-properties/header.jpg")

		+article("특수 코팅")
			p.text MEGADYNE은 고객의 특수한 요구사항을 해결하기 위해 폴리우레탄, 엘라스토머, 폼(foam), PVC 등 다양한 종류의 코팅을 제공합니다.

		+article()
			h2.subtitle 제품 종류
			+coverProperty("AVAFC 60 / 70 / 85", "avafc.jpg")
				p.text 연마재를 옮길 때 사용되는 코팅입니다. 높은 마찰계수를 갖고 있으며 내마모성이 우수합니다. 기름에 오염되지 않습니다.
			+coverProperty("FOAMED POLYURETHANE", "foamed-polyurethane.jpg")
				p.text 진공상태의 컨베이어에 사용되는 코팅입니다. 마찰에 강하고 내마모성이 우수하며 기름에 오염되지 않습니다.
			+coverProperty("FISHBONE", "fishbone.jpg")
				p.text 유리 산업의 컨베이어에 사용되는 코팅입니다. 높은 마찰계수를 갖고있으며 기름에 오염되지 않습니다.
		
		+article()
			+coverProperty("RIBBED", "ribbed.jpg")
				p.text 포장 산업에 사용되는 코팅입니다. 높은 마찰계수를 갖고 있으며 기름에 오염되지 않습니다.
			+coverProperty("LINATEX", "linatex.jpg")
				p.text 연마재를 옮길 때 사용되는 코팅입니다. 높은 마찰계수와 방수성, 내마모성을 갖고 있습니다.
			+coverProperty("TENAX 40", "tenax.jpg")
				p.text 연마재를 옮길 때 사용되는 코팅입니다. 높은 마찰계수와 내마모성을 갖고 있습니다.

		+article()
			+coverProperty("TENAX STANDARD ", "tenax.jpg")
				p.text 연마재를 옮길 때 사용되는 코팅입니다. 높은 마찰계수와 내마모성을 갖고 있습니다.
			+coverProperty("GUMMY CORREX AMBRA PARABLOND ", "gummy-correx-ambra-parablond.jpg")
				p.text 컨베이어 시스템에 사용되는 코팅입니다. 높은 마찰계수를 갖고 있으며, 기름에 취약하지만 물에는 잘 젖지 않습니다.
			+coverProperty("HONEY COMB", "honey-comb.jpg")
				p.text 포장 산업에 사용되는 코팅입니다. 좋은 탄성과 높은 내마모성을 갖고 있는 천연 고무로 구성됩니다. 물에 잘 젖지 않습니다.

		+article()
			+coverProperty("HYPALON ", "hypalon.jpg")
				p.text 컨베이어 시스템에 사용되는 코팅입니다. 높은 마찰계수와 방수성, 내마모성을 갖고 있으며, 기름에 오염되지 않습니다.
			+coverProperty("WHITE RUBBER FOR FOOD INDUSTRY", "white-rubber.jpg")
				p.text 식품을 옮길 때 사용되는 코팅입니다. 천연 기름과 물에 오염되지 않습니다. 청소가 용이합니다.
			+coverProperty("NEOPRENE", "neoprene.jpg")
				p.text 섬세하고 작은 물건을 옮길 때 사용되는 코팅입니다. 기름에 오염되지 않고 우수한 내마모성을 갖고 있습니다. 불연성 재료를 사용했습니다.

		+article()
			+coverProperty("POROL MOUSSE ", "porol-mousse.jpg")
				p.text 깨지기 쉬운 제품의 운반에 사용되는 코팅입니다. 높은 마찰계수를 갖고 있으며 중급 정도의 기름 저항을 갖고 있습니다.
			+coverProperty("NBR ", "nbr.jpg")
				p.text 높은 내마모성이 필요한 경우 사용하는 코팅입니다. 잘 눌리지 않으며 높은 탄성을 갖고 있습니다.
			+coverProperty("PVC SUPERGRIP", "pvc-supergrip.jpg")
				p.text 다양한 재료의 운발에 사용되는 코팅입니다. 높은 마찰계수를 갖고 있으며 물과 기름에 오염되지 않습니다.
		
		+article()
			+coverProperty("NFT NYLON FABRIC BACK / TEETH", "nft-teeth.jpg")
				p.text 컨베이어 시스템에 사용되는 코팅입니다. 낮은 마찰계수와 중급 정도의 기름 저항을 갖고 있습니다. 물에는 젖지 않습니다.
			+coverProperty("RED GRIP", "red-grip.jpg")
				p.text 다양항 재료의 운반에 사용되는 코팅입니다. 높은 마찰계수와 아주 높은 내마모성을 갖고 있으며 물에 높은 저항과 기름에 아주 높은 저항을 갖고 있습니다.
			+coverProperty("APL", "apl.jpg")
				p.text 다양항 재료의 운반에 사용되는 코팅입니다. 높은 마찰계수와 물과 기름에 높은 저항을 갖고 있습니다.
			
			
