extends ../../layouts/main.jade

mixin LibImage(imgSrc)
	td.image
		img.boxShadow.border(src = "/images/products/rubber/isoran-synchronous/" + imgSrc)

mixin LibLabel(text)
	td.label
		span.text= text

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		+banner("/images/products/rubber/isoran-synchronous/header.jpg")

		+article("ISORAN SYNCHRONOUS 벨트")
			p.text
				span MEGADYNE의 Synchronous 벨트는 기어와 V-벨트의 장점만을 두루 갖춘 벨트입니다.

		+article()
			div.textImageBar
				table
					td.image.left
						img.boxShadow.border(src="/images/products/rubber/isoran-synchronous/component.jpg")
					td.textBox
						div.label
							span 구성요소
						div.text
							ol
								li
									span 벨트 몸체는 고품질의 클로로프렌 혼합물로, 다음과 같은 성질을 갖습니다:
									ul
										li 높은 피로 저항
										li 내열성
										li 환경 요소에 저항
										li 광유(석유, mineral oil)에 변하지 않음
										li 시간이 지나도 모양이 변하지 않음

			ol.text
				li(style="list-style: none;")
					span 제품에 따른 경도는 다음과 같습니다:
					ul
						li 74 ShA(쇼어경도 타입 A) - Isoran, Isoran DD, Isoran RPP, Isoran RPP DD
						li 90 ShA(쇼어경도 타입 A) - Isoran Silver, Isoran Gold
					span Silver와 Gold 벨트는 더 높은 성능을 내기 위해 혼합할 수 있습니다.
				li
					span 코드(cord)는 두 줄의 고탄성의 유리섬유를 나선형으로 꼬아 만들어집니다. 다음과 같은 성질을 갖습니다:
					ul
						li 높은 파괴 강도
						li 접힘에 매우 강함
						li 시간이 지나도 변하지 않음
						li 벨트 몸체와 잘 접착됨
					span Gold 벨트에는 보다 높은 동력을 전달할 수 있는 K-Glass 코드(cord)를 제공합니다
				li 나일론 직물로 덮힌 톱니는 매끄럽게 운행됩니다. 이 덕분에 다음과 같은 성질을 얻습니다:
					ul
						li 우수한 내마모성
						li 낮은 마찰계수
						li 높은 동력전달 효율
						li 벨트와 풀리의 동작 수명이 길다

		+article()
			h2.subtitle 기계 - 화학적 성질 
			ul.text
				li 동기식 동력전달
				li 높고 일정한 각속도
				li 고효율
				li 급작스럽게 걸리는 높은 부하에도 견딤 (resistance to peak high loads)
				li 저소음
				li 별도의 윤활작업이 필요하지 않음
				li 별도의 유지보수가 필요하지 않음
				li 최대 선속도 30m/s
				
		+article()
			h2.subtitle ISORAN SYNCHRONOUS 벨트 응용분야
			div.text
				p 우수한 특성 덕분에 ISORAN SYNCHRONOUS 벨트는 다음과 같이 많은 분야에서 성공적으로 사용됩니다:
				ul
					li 각종 기계
					li 목재 산업
					li 냉각 시스템
					li 포장 산업
 
		h2.subtitle.center.paddingVertical ISORAN SYNCHRONOUS 벨트 종류
		table.labelImageBox.threeRows
			tr
				+LibImage("silver gold.jpg")
				+LibImage("rpp.jpg")
				+LibImage("classical.jpg")
			tr
				+LibLabel("ISORAN RPP SILVER AND RPP GOLD")
				+LibLabel("ISORAN RPP")
				+LibLabel("ISORAN CLASSICAL SYNCHRONOUS")
		table.labelImageBox.threeRows
			tr
				+LibImage("platinum.jpg")
				+LibImage("open end.jpg")
				+LibImage("rpp megapaint.jpg")
			tr
				+LibLabel("PLATINUM")
				+LibLabel("ISORAN OPEN END SYNCHRONOUS")
				+LibLabel("RPP MEGAPAINT")

