extends ../../layouts/main.jade

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

mixin MRProducts(name, imgName)
	div.textImageBar.articleWidth.smallImage
		table
			td.image.left
				img.boxShadow.border(src="/images/products/rubber/megaflat-rubber/" + imgName)
			td.textBox
				div.label
					span= name
				block

block body
	div.container
		+banner("/images/products/rubber/megaflat-rubber/header.jpg")

		+article("MEGAFLAT RUBBER")
			p.text
				span MEGAFLAT RUBBER는 이음매가 없도록 성형된 클로로프렌 고무 벨트입니다. 탄탄하게 직조된 폴리에스테르나 아라미드, 또는 면으로 보강됩니다.
				br
				span 동력전달과 컨베이어 작업 모두에 적합합니다.
			
		+article()
			div.textImageBar.articleWidth
				table
					td.image.left
						img.boxShadow.border(src="/images/products/rubber/megaflat-rubber/component.jpg")
					td.textBox
						div.label
							span 구성요소
						div.text
							ol
								li 벨트 몸체는 검은색 클로로프렌으로 만들어집니다. 전송면(transport side)는 거칠기 때문에 높은 마찰계수를, 반대편은 부드럽기 때문에 적은 마찰계수를 갖고 있습니다.
								li 폴리에스테르 직물 입니다. T 155 모델의 경우 보다 높은 동력전달을 위해 아라미드와 폴리에스테르 혼합 직물을 사용합니다.

		+article()
			h2.subtitle 기계 - 화학적 성질 
			ul.text
				li 요구에 따른 색상 추가 가능
				li 요구에 따른 치수 추가 가능
				li 벨트 측면의 두께를 0.3 - 0.5㎜ 정도 늘릴 수 있음
				li 표준폭 330mmm 슬리브로 제조됨
				
		+article()
			h2.subtitle 제품 종류
			p.text 모든 MEGAFLAT RUBBER 벨트는 이음매가 없도록 성형된 맨드릴 네오프렌 벨트 (endless mandrel moulded neopren belt) 입니다.
		
		+article()
			+MRProducts("T 75", "t75.jpg")
				p.text
					span T 75는 폴리에스테르 직물로 보강됩니다. 가벼운 무게의 동력전달이나 컨베이어에 적합합니다.
					br
					span 사무 자동화 드라이버에 사용됩니다.
			
			+MRProducts("T 108", "t108.jpg")
				p.text
					span T 108은 폴리에스테르와 면 직물로 보강됩니다. 사무실 장비에 적합합니다.
	
			+MRProducts("T 110", "t110.jpg")
				p.text
					span T 110은 폴리에스테르 직물로 보강됩니다. 주행 성능이 좋아 범용적으로 사용되는데, 특히 섬유 기계에서 적합합니다.
	
			+MRProducts("T 120", "t120.jpg")
				p.text
					span T 120은 폴리에스테르 직물로 보강됩니다. 목재나 철을 다루는 무거운 드라이브 시스템에 적합합니다.
	
			+MRProducts("T 155", "t155.jpg")
				p.text
					span T 155는 폴리에스테르와 아라미드 혼합 직물로 보강됩니다. 적은 신장률이 필요한 드라이브 작업에 적합합니다.
	
			+MRProducts("T 200", "t200.jpg")
				p.text
					span T 200은 폴리에스테르 직물로 보강됩니다. 공작기계 처럼 높은 토크, 높은 속도에서 동작하는 드라이브에 적합합니다.

