extends ../../layouts/main.jade

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

mixin MRProducts(name, imgName)
	div.textImageBar.articleWidth.smallImage
		table
			td.image.left
				img.boxShadow.border(src="/images/products/rubber/megaflat-rubber/" + imgName)
			td.textBox
				div.label
					span= name
				block

block body
	div.container
		div.banner
			img.boxShadow(src="/images/products/rubber/megaflat-rubber/header.jpg")

		+article("MEGAFLAT RUBBER")
			p.text Megaflat are truly endless mandrel moulded chloroprene rubber belts, with either polyester, aramide or cotton reinforcements. Megaflat belts are particularly suitable for both power transmission and conveying.

		div.textImageBar.articleWidth
			table
				td.image.left
					img.boxShadow.border(src="/images/products/rubber/megaflat-rubber/component.jpg")
				td.textBox
					div.label
						span 구성요소
					div.text
						ol
							li Belt body, made in black chloroprene to get the proper friction coefficients: it is rough on the transport side and smooth on the reverse side
							li Fabric, in polyester; on T155 the fabric is made of aramid and polyester for a superior transmittable power.

		+article()
			h2.subtitle 기계 - 화학적 성질 
			ul.text
				li Additional colours on demand
				li Additional dimensions on demand
				li Increase of thickness by about 0,3 - 0,5 mm for belts sides
				li Standard sleeves are available 330 mm wide.
				
		+article()
			h2.subtitle 제품 종류
			p.text 모든 MEGAFLAT RUBBER 벨트는 이음매가 없도록 성형된 맨드릴 벨트 (endless mandrel moulded belt) 입니다.
		
		+MRProducts("T 75", "t75.jpg")
			p.text
				span Truly endless mandrel moulded neoprene belt with Polyester fabric, particularly suitable for light-load transmission or conveying.
				br
				span Drivers for office automation.
		
		+MRProducts("T 108", "t108.jpg")
			p.text
				span Truly endless mandrel moulded neoprene belt with Polyester and cotton fabric, particularly suitable for applications in office equipment.

		+MRProducts("T 110", "t110.jpg")
			p.text
				span Truly endless mandrel moulded neoprene belt with Polyester fabric, caracterised by good running conditions and particularly suitable for universal  applications and textile machines.

		+MRProducts("T 120", "t120.jpg")
			p.text
				span Truly endless mandrel moulded neoprene belt with polyester fabric, particularly suitable for heavy-duty drives for wood or metal working.

		+MRProducts("T 155", "t155.jpg")
			p.text
				span Truly endless mandrel moulded neoprene belt with polyester and aramid fabric, suitable for low stretch demanding drive conditions.

		+MRProducts("T 200", "t200.jpg")
			p.text
				span Truly endless mandrel moulded neoprene belt with polyester fabric, suitable for high torque, high speed drives such as machine tools.

