extends ../../layouts/main.jade

mixin LibImage(imgSrc)
	td.image
		img.boxShadow.border(src = "/images/products/rubber/v-belts/" + imgSrc)

mixin LibLabel(text)
	td.label
		span.text= text

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		+banner("/images/products/rubber/v-belts/header.jpg")

		+article("V-벨트")
			p.text
				span MEGADYNE V-벨트는 전세계 사용자들에게 드라이브 솔루션을 제공하면서 다양한 산업과 분야에서 수 십년간 사용되어 왔습니다.
				br
				span MEGADYNE V-벨트는 정밀한 기술로 생산되어 치수가 매우 정확합니다. 이 덕분에 치수가 중요한 샤프트 드라이브에 사용하기 적합합니다.

		+article()
			table.labelImageBox.twoRows
				tr
					td.label
						span.subtitle WRAPPED V-벨트
					td.label
						span.subtitle RAW EDGE V-벨트
				tr
					td.image
						.boxShadow.border
							img(src="/images/products/rubber/v-belts/wrapped.jpg")
					td.image
						.boxShadow.border
							img(src="/images/products/rubber/v-belts/raw_edge.jpg")
	
			div.textImageBar
				.textBox
					div.label
						span 구성요소
					div.text
						ol
							li 벨트의 몸체는 특수한 고무 화합물로 구성되어 고효율의 동력전달과 우수한 내마모성을 두루 갖추었습니다.
							li 벨트의 인장은 고장력 - 적은 신장률을 갖춘 코드(cord)로 되어있습니다. 이 덕분에 벨트의 수명이 다 할 때까지도 늘어지지 않습니다.
							li 벨트의 뒷면에는 인장은 보호하기 위한 직물 재킷 또는 직물 덮개가 있습니다.
	
						p
							span V-벨트에 적용된 응용기술은 높은 치수 정밀도를 실현시켰습니다. 이 덕분에 MEGADYNE V-벨트는 다중 동력전달에 적합합합니다.
							br
							span V-벨트의 치수 안정성은 벨트의 수명이 다할 때까지 유지됩니다.

		+article()
			h2.subtitle 기계 - 화학적 성질 
			ul.text
				li 부드러운 시작과 운행
				li 표준 전기모터의 다양한 운행 속도에 대응
				li 유지보수가 용이함
				li 고효율
				li 윤활작업이 필요하지 않음
				li 넓은 범위의 마력(horse power)에 대응
				li 풀리와 드라이버 사이의 진동을 줄임
				li 저소움
				li 긴 수명
				li 간단한 설치
				li 드라이브 치수를 줄여줌
				li 작동온도 -30℃ / +70℃
				li 기름과 열에 변하지 않음
				li 대전 방지
 
		h2.subtitle.center.paddingVertical WRAPPED V-벨트 종류
		table.labelImageBox.fiveRows
			tr
				+LibImage("oleostatic.png")
				+LibImage("extra.png")
				+LibImage("esaflex.png")
				+LibImage("pluriband.png")
				+LibImage("xdv2.png")
			tr
				+LibLabel("OLEOSTATIC")
				+LibLabel("EXTRA V-BELTS")
				+LibLabel("ESAFLEX")
				+LibLabel("PLURIBAND")
				+LibLabel("XDV2")

		h2.subtitle.center.paddingVertical RAW EDGE V-벨트 종류
		table.labelImageBox.threeRows
			tr
				+LibImage("linea-x.png")
				+LibImage("gold label cog.png")
				+LibImage("varisect.png")
			tr
				+LibLabel("LINEA-X")
				+LibLabel("GOLD LABEL COG BELTS")
				+LibLabel("VARISECT")

