extends ../layouts/main.jade

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		div.banner
			img.boxShadow(src="/images/products/polyurethane/header.jpg")

		+article("폴리우레탄 벨트")
			p.text 동력전달과 선형위치결정에 사용되는 MEGADYNE 폴리우레탄 타이밍벨트는 우수한 강도는 물론 편리한 사용과 유지보수의 용이성까지 고려하여 설계되었습니다. 자주 사용되는 표준과 모든 피치 게이지(㎜)에 대응되는 제품폭을 갖고 있으며, 추가적으로 이들의 양면 조합 여부나 벨트의 폭을 결정할 수 있습니다. 특별주문을 통해 내부 강철심을 케블라(Kevlar)로 대체할 수 있습니다.

		h1.subtitle.center.paddingVertical 폴리우레탄 벨트 종류

		table.labelImageBox.threeRows
			tr
				td.image
					a.boxShadow.border(href="/products/polyurethane/megaflex")
						img(src="/images/products/polyurethane/megaflex.jpg")
				td.image
					a.boxShadow.border(href="/products/polyurethane/megaflat")
						img(src="/images/products/polyurethane/megaflat.jpg")
				td.image
					a.boxShadow.border(href="/products/polyurethane/megalinear")
						img(src="/images/products/polyurethane/megalinear.jpg")
			tr
				td.label
					a.text(href="/products/polyurethane/megaflex")
						span MEGAFLEX
				td.label
					a.text(href="/products/polyurethane/megaflat")				
						span MEGAFLAT
				td.label
					a.text(href="/products/polyurethane/megalinear")
						span MEGALINEAR

		table.labelImageBox.twoRows
			tr
				td.image.left
					a.boxShadow.border(href="/products/polyurethane/megapower")
						img(src="/images/products/polyurethane/megapower.jpg")
				td.image.right
					a.boxShadow.border(href="/products/polyurethane/megarib")
						img(src="/images/products/polyurethane/megarib.jpg")
			tr
				td.label.left
					a.text(href="/products/polyurethane/megapower")
						span MEGAPOWER
				td.label.right
					a.text(href="/products/polyurethane/megarib")
						span MEGARIB

